.homepage {
  /* margin-top: 70px; navbar ke neeche space */
  padding: 50px 8%;
  background: #cfcaca;
}

/* Hero Section */
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.hero-content {
  flex: 1;
  max-width: 600px;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.3;
  color: #222;
  margin-bottom: 20px;
  animation: typing 3s steps(30, end) forwards;
  white-space: nowrap;
  overflow: hidden;
}

.hero-content .highlight {
  color: #0056d2;
}

.hero-content p {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 30px;
}

/* Buttons */
.hero-buttons {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 12px 25px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn.primary {
  background: #0056d2;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 86, 210, 0.3);
}
.btn.primary:hover {
  background: #003f9e;
}

.btn.secondary {
  background: #28a745;
  color: white;
  box-shadow: 0 4px 10px rgba(40, 167, 69, 0.3);
}
.btn.secondary:hover {
  background: #1f7a34;
}

/* Right Side Image */
.hero-image {
  flex: 1;
  text-align: center;
}
.hero-image img {
  max-width: 400px;
  width: 100%;
  animation: float 3s ease-in-out infinite;
}

.Easy-step{
  text-align: center; 
   max-width: 900px;
  margin: 40px auto;
  background: #fff;
  border-radius: 12px;
  padding: 20px 30px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
  font-family: Arial, sans-serif;
  text-align: center;
}
.Easy-step h2{
  margin-top: 0%;
  font-size: 30px;
}
.step{
  display: flex;
  text-align: center;
  gap: 20px;
  justify-content: center;
  
 
}

/* Floating Animation */
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}

/* Typing effect without cursor */
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}
